{#
/**
 * @file
 * Template for the Daily Digest detail page.
 *
 * Available variables:
 * - title: The node title.
 * - file_path: URI of the JSON data file attached to this digest.
 * - node: The daily_digest node entity.
 */
#}
<div class="daily-digest-view">
  <h2>{{ title }}</h2>
  <p>Data file: <code>{{ file_path }}</code></p>
</div>
